@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}
img{

    width: max-content;
    border-radius: 0;

}
.topnav {
    overflow: hidden;
    background-color: #D93D3D;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
}

.topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
}
.topnav a:visited{
    color: white;
}

.topnav img {
    height: 75px;
    width: 75px;
    margin-right: 10px;
    border-radius: 55%;
}

.topnav .links {
    display: flex;
    align-items: center;
}

.topnav .links a {
    margin-left: 10px;
}

.topnav .search-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}
a{
    color: #0d0d0d;
}
a:visited{
    color: #0d0d0d;
    text-decoration: none;
}
.viewer {
    margin: .5% 1%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    gap: 1.5%; /* Space between the cards */
}

.card {
    background-color: white;
    width: 20%;
    margin: 2.5%;
    padding: 2.5%;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;

}

.card img {
    width: 60%;
    margin: 5% auto;
    padding: 2%;
    border: #0d0d0d solid;
    border-radius: 10%;
}

.card p{
    margin: 10px 0;
}
.btn {
    width: 100%; /* Riduce la larghezza del bottone */
    font-size: 100%;
    text-align: center;
    padding: 0.75rem 1rem .75rem; /* Aumenta l'altezza del bottone */
    margin: 0 auto;
    background-color: #F23A29;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem; /* Angoli arrotondati */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transizione per l'hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

.btn:hover {
    background-color: #D93D3D;
    transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
}

.card button {
    width: 60%; /* Riduce la larghezza del bottone */
    font-size: 1rem;
    text-align: center;
    padding: 0.75rem 1rem; /* Aumenta l'altezza del bottone */
    margin: 0 auto;
    background-color: #F23A29;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem; /* Angoli arrotondati */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transizione per l'hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

.card button:hover {
    background-color: #D93D3D;
    transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
}

/* Migliora l'accessibilità con uno stile per il focus */
.card button:focus {
    outline: 2px solid #005fcc; /* Bordo blu per il focus */
    outline-offset: 2px; /* Sposta leggermente il bordo verso l'esterno */
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000000; /* Colore nero per i bordi */
    padding: 10px;
    text-align: left;

}
th {
    background-color: #D93D3D; /* Colore rosso scuro per l'intestazione */
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* Colore di sfondo grigio chiaro per righe pari */
}


    .productView {
    width: 60%;
    margin: 0 15%;
    padding: 5%;
    display:flex;
    text-align: left;
    background-color: white;
    border-radius: 10%;
}
.productView img{

    width: 25%;
}
.checkbox-inline {
    display: inline-block;
    margin-right: 10px;
}
#catologButton {
    background-color: #D93D3D; /* Colore principale del bottone */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#catologButton:hover {
    background-color: #7ba6a6; /* Colore al passaggio del mouse */
}
#price-range {
    width: 80%;
    margin: 20px auto;
}
#price-range input[type="range"] {
    width: 100%;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #ccc;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
    border-radius: 10px;
}
#price-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #D93D3D;
    cursor: pointer;
    border-radius: 50%;
}
#price-range input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #D93D3D;
    cursor: pointer;
    border-radius: 50%;
}
#price-output {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
#addProductForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 70%;
    margin: 1% auto;
}
#addProductLabel {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: black;
}
.addProductInput, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="file"] {
    padding: 3px;
}
#addProductButton {
    background-color: #F23A29;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#addProductButton:hover {
    background-color: #F23A29;
}
.aAdminPage {
    text-align: center;
    font-size: 150%;
    width: 30%;
    display: inline;
    padding: 3% 1%;
    background-color: #F23A29;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 1%;
}
.aAdminPage:hover {
    background-color: #bd2130;
}
.aAdminPage:visited {
    color: white;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    margin: 1% auto;
}
.container h2 {
    margin-top: 0;
}
.container a , .container a:visited{
    color: black;
    margin: 1% 25% 0 0;

}
.container a:hover{
    color: #D93D3D;
    font-weight: bold;
}

.form-group {
    margin-top: 15px;
    margin-bottom: 10px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 70%;
    padding: 8px;

    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto 5px;
}
.form-group button {
    width: 70%;
    padding: 10px;
    background-color: #F23A29;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #D93D3D;
}
.error-message {
    color: red;
    margin-bottom: 10px;
}

.aManage{
    color: black;
}
.aManage:hover{
    font-weight: bold;
    color: #D93D3D;
}
#buttonHomepage {
    width: 90%;
    margin: 5% auto;
    display: flex;
}

@media (max-width: 600px) {
    .checkbox-inline {
        display: block;
        margin-bottom: 10px;
    }
    #catologButton  {
        width: 100%;
        padding: 15px;
    }
}

@media only screen and (max-width: 900px){
    .card {
        background-color: white;
        width: 30%;
        margin: 2.5%;
        padding: 2.5%;
        border-radius: 10%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        display: inline-block;

    }
    table {
        width: 100%;
        margin: 10px 0;
    }
    th, td {
        font-size: 14px;
    }
}
@media only screen and (max-width: 480px){
    .card {
        background-color: white;
        width: 50%;
        margin: 2.5%;
        padding: 2.5%;
        border-radius: 10%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        display: inline-block;

    }

}
@media (max-width: 768px) {
    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .topnav .search-container {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .topnav .search-container form {
        width: 100%;
        display: flex;
    }

    .topnav input[type=text] {
        flex: 1;
    }

    .topnav .links {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .topnav .links a {
        margin-left: 0;
    }
    .container{
        width: 70%;
    }
}